@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<DoAnLTW.Models.ShopingCart>
<!-- Cart -->
<div class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
		<i class="fa fa-shopping-cart"></i>
			<span>Your Cart</span>
		<div class="qty">3</div>
	</a>
	<div class="cart-dropdown">
			@foreach (var item in Model) {
			<div class="cart-list">
				<div class="product-widget">
					<div class="product-img">
						<a>@item.Product.ImageUrl</a>
					</div>
				<div class="product-body">
					<h3 class="product-name"><a href="#">@item.Product.Name</a></h3>
						<h4 class="product-price"><span class="qty">1x</span>@item.Product.Price</h4>
				</div>
				<button class="delete"><i class="fa fa-close"></i></button>
				</div>
			</div>
			}
			<div class="cart-summary">
				<h5>SUBTOTAL: @ViewBag.Total</h5>
			</div>
			<div class="cart-btns">
				<a href="#">View Cart</a>
				<a href="/ShopingCarts/ShopingCart">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
			</div>
	</div>
</div>

<!-- /Cart -->